<div class="list-rooms">
    <div class="profile">
        <div class="profile-img">IMG</div>
        <div class="info-profile">
            <p>Nome</p>
        </div>
    </div>
    <div class="create-room">
        <h2>Criar sala</h2>
        <input type="text" placeholder="Nome da sala">
        <button>Criar sala</button>
    </div>
    <div class="room">
        <div class="room-img">IMG</div>
        <div class="info-room">
            <p>Titulo sala</p>
            <p class="info-owner">Dono</p>
        </div>
    </div>
    <div class="room">
        <div class="room-img">IMG</div>
        <div class="info-room">
            <p>Titulo sala</p>
            <p class="info-owner">Dono</p>
        </div>
    </div>
</div>