<div class="list-rooms">
    @if (User.getUser().id !== -1) {
        <div>
            <div class="profile">
                <div class="info-profile">
                    <p>{{ User.getUser().name }}</p>
                </div>
            </div>
            <div class="profile">
                <h2>Criar sala</h2>
                <form (ngSubmit)="createRoom()">
                    <input type="text" [(ngModel)]="roomName" name="roomName" placeholder="Nome da sala">
                    <button>Criar</button>
                </form>
            </div>
        </div>
    } @else {
        <div class="profile">
            <h2>Criar usuário</h2>
            <form (ngSubmit)="createUser()" >
                <input type="text" [(ngModel)]="newUserName" name="newUserName" placeholder="Nome" required minlength="1">
                <button>Entrar</button>
            </form>
        </div>
    }
    @for (room of rooms; track room.id){
        <div class="room" (click)="selectRoom(room.id)">
            <div class="room-img">IMG</div>
            <div class="info-room">
                <p>{{ room.name }}</p>
                <p class="info-owner">{{ userNames[room.owner] }}</p>
            </div>
        </div>
    }
</div>
