<div class="chat-room">
    <header>
        <div class="header-infos">
            <div class="header-img">
                IMG
            </div>
            <div class="header-title">
                <p>{{room?.name}}</p>
                <p class="info-owner">{{ room?.owner_name }}</p>
            </div> 
        </div>
    </header>
    <div class="messages-container">
        @for (msg of messages; track msg.id){
            @if (msg.owner === User.getUser()?.id){
                <div class="message current-user">
                    <div class="owner-message">
                        <p>{{ userNames[msg.owner] }}</p>
                    </div>
                    <div class="content-message">
                        <p>{{msg.content}}</p>
                    </div>
                </div>
            }@else{
                <div class="message other-user">
                    <div class="owner-message">
                        <p>{{ userNames[msg.owner] }}</p>
                    </div>
                    <div class="content-message">
                        <p>{{msg.content}}</p>
                    </div>
                </div>
            }
        }
    </div>
    <footer>
        <div class="send-message">
            <form (ngSubmit)="sendMessage()">
                <textarea type="text" [(ngModel)]="contentMsg" name="contentMsg" placeholder="Digite uma mensagem"></textarea>
                <button>Enviar</button>
            </form>
        </div>
    </footer>
</div>
