<div class="chat-room">
    <header>
        <div class="header-infos">
            <div class="header-img">
                IMG
            </div>
            <div class="header-title">
                <p>Titulo sala</p>
                <p class="info-owner">Dono</p>
            </div>
        </div>
    </header>
    <div class="messages-container">
        <div class="message other-user">
            <div class="owner-message">
                <p>Damião Teodósio</p>
            </div>
            <div class="content-message">
                <p>
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsums
                </p>
            </div>
        </div>
        <div class="message other-user">
            <div class="owner-message">
                <p>Damião Teodósio</p>
            </div>
            <div class="content-message">
                <p>
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsums
                </p>
            </div>
        </div>
        <div class="message current-user">
            <div class="owner-message">
                <p>Davy Dantas</p>
            </div>
            <div class="content-message">
                <p>
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsums
                </p>
            </div>
        </div>
        <div class="message current-user">
            <div class="owner-message">
                <p>Davy Dantas</p>
            </div>
            <div class="content-message">
                <p>
                    lorem ipsum
                </p>
            </div>
        </div>
        <div class="message other-user">
            <div class="owner-message">
                <p>Damião Teodósio</p>
            </div>
            <div class="content-message">
                <p>
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    lorem ipsum lorem ipsums
                </p>
            </div>
        </div>
    </div>
    <footer>
        <div class="send-message">
            <form action="">
                <textarea type="text" placeholder="Digite uma mensagem"></textarea>
            </form>
        </div>
    </footer>
</div>
